
        
        body {
            padding: 20px;
            background: #f0f0f0;
        }
        
        
        h1 {
            text-align: center;
            color: #333;
            margin-bottom: 20px;
        }
        
        .controls {
            display: flex;
            gap: 10px;
            justify-content: center;
        }
        
        button {
            padding: 10px 20px;
            cursor: pointer; 
            border-radius: 3px;
            background: #2e2e2e;
            color: rgb(255, 255, 255);
        }
        
        button:hover {
            background: #393939;
        }
        
        button:disabled {
            background: #2e2e2e;
            color: #2e2e2e;
            cursor: not-allowed;
        }
        
        .boards {
            font-weight: bold;
            color: #000000;
            justify-content: center;
            display: flex;
            grid-template-columns: 1fr 1fr;
            gap: 40px;
            margin-top: 20px;
            text-align: center;
            
        }
        
        .board {
            display: inline-grid;
            
            gap: 1px;
            background: #ffffff;
            padding: 2px;
            border: 2px solid #ffffff;
        }
        
        .cell {
            width: 35px;
            height: 35px;
            background: #969696;
            border: 1px solid #7c7c7c;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;        
        }
        
        
        .cell.empty {
            background: #ffffff;
        }
        
        .cell.ship {
            background: #747e93;
            color: rgb(0, 0, 0);
        }
        
        .cell.hit {
            background: #ff3822;
            color: white;
        }
        
        .cell.sunk {
            background: #464646;
            color: #ffffff;
        }
        
        .cell.miss {
            background: #bfbebe;
            color: rgb(0, 0, 0);
        }
        
        .cell.disabled {
            cursor: not-allowed;
        }
        
        .message {
            text-align: center;
            margin-top: 20px;
            font-size: 20px;
            font-weight: bold;
            color: #333;
        }
        
        .message.error {
            color: #f44336;
        }
    
        
        .turn-indicator {
            text-align: center;
            font-size: 16px;
            color: #666;
            margin-top: 10px;
        }

